html{
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #B0BBCB;
}

html,
body{
  height: 100%;
}

*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol{
  list-style: none;
}

.container{
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  color: #FFF;
  font-size: 55px;
  font-weight: 800;
  line-height: 71.5px;
  text-align: center;
}

/* ------------------------------ */

.cuberium{
  background: #0F1115;
  padding: 127px 0 128px;
  /*padding-bottom: 128px;*/
}

.cuberium__top{
  height: 530px;
  position: relative;
  margin-bottom: 233px;
}

.cuberium__top::after{
  content: "";
  position: absolute;
  background-image: url("../assets/cuberium-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  top: -243px;
  bottom: 0;
  right: 0;
  left: 0;
}

.cuberium__top-inner{
  position: relative;
  z-index: 10;
}

.cuberium__top-text{
  color: #D3DCE6;
  text-align: center;
  margin-top: 12px;
}

.cuberium__top-btn-box{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 48px;
}

.cuberium__top-btn-join{
  color: #552EE0;
  font-weight: 600;
  line-height: 20.8px;
  padding: 13.5px 36.5px;
  background: #FFF;
  border-radius: 100px;
  width: 172px;
  cursor: pointer;
}

.cuberium__top-btn-learn{
  color: #FFF;
  font-weight: 600;
  line-height: 24px;
  padding: 11px 37.5px;
  background: #231E41;
  border: 1px solid #7553F0;
  border-radius: 100px;
  width: 172px;
  cursor: pointer;
}

.cuberium__content{
  position: relative;
  z-index: 1;
}

.cuberium__content::before{
  content: "";
  position: absolute;
  background-image: url("../assets/cuberium-before-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 920px;
  top: -225px;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(40px);
}

.cuberium__content::after{
  content: "";
  position: absolute;
  background-image: url("../assets/cuberium-after-bg.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 920px;
  top: -75px;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(40px);
}

.cuberium__content-inner{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  position: relative;
  z-index: 25;
}

.cuberium__content-item{
  padding: 64px 20px 32px;
  background: rgba(117, 83, 240, 0.10);
  border: 1px solid #7553F0;
  border-radius: 32px;
  position: relative;
}

.cuberium__content-img{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 172px;
  left: 51.5px
}

.cuberium__content-title{
  color: #FFF;
  font-size: 24px;
  font-weight: 800;
  line-height: 33.6px;
}

.cuberium__content-text{
  font-size: 14px;
  line-height: 21px;
  margin-top: 8px;
}

/* ------------------------------ */

.demo{
  padding: 128px 0;
  background: #0F1115;
  height: 686px;
}

/* ------------------------------ */

.possibility{
  background: #0F1115;
  padding: 128px 0 66px;
  position: relative;
}

.possibility::before{
  content: "";
  position: absolute;
  background-image: url("../assets/cuberium-before-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 920px;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(40px);
}

.possibility::after{
  content: "";
  position: absolute;
  background-image: url("../assets/cuberium-after-bg.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 920px;
  top: -65px;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(40px);
}

.possibility__inner{
  position: relative;
  z-index: 25;
}

.possibility__overall{
  display: flex;
}

.possibility__content{
  padding: 32px;
  background: rgba(117, 83, 240, 0.10);
  border: 1px solid #7553F0;
  border-radius: 24px;
}

.possibility__content-title{
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
}

.possibility__content-text{
  margin: 24px 0 48px;
}

.possibility__content-btn{
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  padding: 13.5px 64px;
  background: linear-gradient(99deg, #952EE5 10.42%, #302DDD 109.22%);
  border-radius: 100px;
  width: 196px;
  cursor: pointer;
}

.possibility__overall-img{
  width: 704px;
  height: 400px;
  border-radius: 24px;
}

/* ------------------------------ */

.partners{
  padding-bottom: 128px;
  background: #0F1115;
  position: relative;
}

.partners__ball-big{
  display: flex;
  justify-content: end;
  margin-bottom: 4px;
}

.ball__big-img{
  transform: rotate(90deg);
}

.partners__ball-small{
  display: flex;
  justify-content: end;
  margin-right: 152px;
  margin-bottom: 25px;
}

.ball__small-img{
  transform: rotate(65deg);
}

.partners__title{
  margin-bottom: 48px;
}

.partners__inner{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  gap: 32px;
}

.partners__item{
  padding: 24px 12px;
  border: 1px solid #2F3641;
  border-radius: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
  transition: all .3s ease;
  cursor: pointer;
}

.partners__item:hover{
  border: 1px solid #7553F0;
}

.partners__item.active{
  border: 1px solid #7553F0;
}

.partners__item-img{
  width: 144px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__item-img path{
  transition: all .3s ease;
}

.partners__item-img:hover path{
  fill: #7553F0;
}

.partners__item-img.active path{
  fill: #7553F0;
}

/* ------------------------------ */

.featured{
  background-color: #0F1115;
  padding: 128px 0;
  position: relative;
}

.featured::after{
  content: "";
  position: absolute;
  background-image: url("../assets/tell-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(20px);
  height: 650px;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}


.featured__title{
  position: relative;
  z-index: 10;
}

.featured__inner{
  position: relative;
  z-index: 10;
  margin-top: 48px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.featured__item{
  width: 372px;
  padding: 32px;
  border: 1px solid #7553F0;
  border-radius: 32px;
  background: rgba(117, 83, 240, 0.10);
  backdrop-filter: blur(5px);
  text-align: center;
}

.featured__item-top{
  width: 235px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.featured__item-img{
  width: 100%;
  height: 100%;
}

.featured__item-text{
  margin-top: 20px;
}



/* ------------------------------ */

.our-team{
  background: #0F1115;
  padding: 128px 0;
}

.our-team__title{
  margin-bottom: 64px;
}

.our-team__generic{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
  gap: 56px 32px;
  margin-bottom: 56px;
}

.our-team__item{
  width: 100%;
  text-align: center;
}

.our-team__item-img{
  width: 127px;
  height: 126px;
  position: relative;
  margin: 0 auto 18px;
}

.our-team__img{
  width: 100%;
  height: 100%;
}
.icon-linkedin{
  position: absolute;
  top: 93px;
  left: 93.5px;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.our-team__item-line{
  display:block;
  width: 22px;
  height: 2px;
  background: #8492A5;
  margin: 0 auto;
}

.our-team__item-name{
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  padding: 10px 0 6px;
}

.our-team__btn{
  color: #FFF;
  font-weight: 600;
  padding: 12px 16px;
  background: #231E41;
  border: 1px solid #7553F0;
  border-radius: 100px;
  max-width: 172px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

/* ---------------------------------- */

.updates{
  background: radial-gradient(78.51% 78.51% at 50% 50%, #412DDF 0%, #0F1115 100%);
  padding: 104px 0;
  position: relative;
}

.updates::before{
  content: "";
  position: absolute;
  background-image: url("../assets/ball-small.svg");
  background-repeat: no-repeat;
  top: 48px;
  left: 177px;
  bottom: 0;
  right: 0;
}

.updates::after{
  content: "";
  position: absolute;
  background-image: url("../assets/updates-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.updates__container{
  max-width: 900px;
  padding: 0 6px;
  margin: 0 auto;
}

.updates__inner{
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 25;
}

.updates__heading{
  width: 375px;
}

.updates__title{
  text-align: left;
}

.updates__text{
  color: #D3DCE6;
  margin-top: 12px;
}

.updates__interaction{
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.updates__interaction-top{
  display: flex;
  gap: 16px;
}

.updates__input{
  width: 291px;
  background: transparent;
  padding: 14px 17px;
  border: 1px solid #FFF;
  border-radius: 100px;
  color: #FFF;
  font-size: 16px;
  outline: 0;
  opacity: 0.5;
}

.updates__input::placeholder{
  font-family: Montserrat, sans-serif;
  color: #B0BBCB;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.updates__interaction-top-btn{
  color: #552EE0;
  font-weight: 600;
  line-height: 20.8px;
  text-align: center;
  background: #FFF;
  padding: 13.5px 18px;
  border-radius: 100px;
  cursor: pointer;
}

.updates__interaction-join{
  background: rgba(117, 83, 240, 0.20);
  padding: 20px 32px;
  border-radius: 24px;
}

.updates__interaction-join-content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.updates__interaction-join-text{
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
}

.updates__interaction-join-img{
  margin: 0 4px 0 8px;
}

.updates__interaction-join-btn{
  width: 172px;
  background: linear-gradient(99deg, #952EE5 10.42%, #302DDD 109.22%);
  border-radius: 100px;
  padding: 10px 16px;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  line-height: 20.8px;
  cursor: pointer;
  margin: 0 auto;
}

/* ----------------------------------*/

.footer{
  background: #0F1115;
  padding: 46px 0 12px;
  position: relative;
}

.footer::before{
  content: "";
  position: absolute;
  background-image: url("../assets/ball-big.svg");
  background-repeat: no-repeat;
  top: -496px;
  left: 40px;
  right: 0;
  bottom: 0;
}

.footer__inner{
  color: #8492A5;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 25;
}

.footer__logo{
  width: 137px;
  padding: 7.33px 0;
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  margin-right: 45px;
}

.footer__inner-primary{
  width: 795px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 45px;
}

.footer__menu-list{
  display: flex;
  gap: 32px;
}

.footer__menu-list-item{
  font-size: 14px;
  line-height: 18.2px;
  cursor: pointer;
}

.footer__socials{
  display: flex;
  gap: 16px
}

.footer__socials-item{
  width: 44px;
  padding: 14px;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer__bottom-text{
  font-size: 12px;
  line-height: 15.6px;
  text-align: center;
  margin-top: 22px;
}

/* Mobile ---------------------- */

@media (max-width: 1230px) {
  .cuberium__content-inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px 32px;
  }

  .cuberium__content-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cuberium__content-img{
    left: unset;
    bottom: 130px;
  }
}

@media (max-width: 885px) {
  .cuberium__content-img{
    margin-bottom: 20px;
  }
}

@media (max-width: 655px) {
  .cuberium{
    padding: 90px 0 90px;
  }

  .cuberium__content-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 120px 32px;
  }

  .cuberium__content-img{
    margin-bottom: 0;
  }

  .featured{
    padding: 90px 0 90px;
  }
}

@media (max-width: 450px) {
  .cuberium__content-img{
    margin-bottom: 20px;
  }
}


