html{
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #B0BBCB;
}

html,
body{
  height: 100%;
}

*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol{
  list-style: none;
}

.container{
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  color: #FFF;
  font-size: 55px;
  font-weight: 800;
  line-height: 71.5px;
  text-align: center;
}

/* ---------------------------- */

.tell{
  background-color: #0F1115;
  padding: 128px 0;
  position: relative;
}

.tell::after{
  content: "";
  position: absolute;
  background-image: url("../assets/tell-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(30px);
  height: 620px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tell__title{
  position: relative;
  z-index: 10;
}

/*.tell__inner{*/
/*  position: relative;*/
/*  z-index: 10;*/
/*  margin-top: 48px;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(auto-fill, minmax(372px, 1fr));*/
/*  column-gap: 32px;*/
/*  overflow: hidden;*/
/*}*/

/*.tell__inner{*/
/*  position: relative;*/
/*  z-index: 10;*/
/*  margin-top: 48px;*/
/*  display: flex;*/
/*  gap: 32px;*/
/*  overflow: hidden;*/
/*}*/


.tell__inner{
  position: relative;
  z-index: 10;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  overflow: hidden;
  padding-bottom: 48px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.10);
}

.tell__item{
  /*width: 100%;*/
  width: 372px;
  padding: 32px;
  border: 1px solid #7553F0;
  border-radius: 32px;
  background: rgba(117, 83, 240, 0.10);
  backdrop-filter: blur(5px)
}

.tell__item-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tell__item-top-img{
  width: 235px;
  height: 63px;
  display: flex;
  align-items: center;
}

.tell__item-top-arrow{
  padding: 10px;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 32px;
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
}

.tell__item-text{
  font-weight: 700;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
}

.tell__line{
  width: 431px;
  height: 3px;
  background: #7553F0;
  position: absolute;
  bottom: 128px;
}


/* -------------------------- */

.our-team{
  background: #0F1115;
  padding: 128px 0;
}

.our-team__title{
  margin-bottom: 64px;
}

.our-team__generic{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
  gap: 56px 32px;
  margin-bottom: 56px;
}

.our-team__item{
  width: 100%;
  text-align: center;
}

.our-team__item-img{
  width: 127px;
  height: 126px;
  position: relative;
  margin: 0 auto 18px;
}

.our-team__img{
  width: 100%;
  height: 100%;
}
.icon-linkedin{
  position: absolute;
  top: 93px;
  left: 93.5px;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.our-team__item-line{
  display:block;
  width: 22px;
  height: 2px;
  background: #8492A5;
  margin: 0 auto;
}

.our-team__item-name{
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  padding: 10px 0 6px;
}

.our-team__btn{
  color: #FFF;
  font-weight: 600;
  padding: 12px 16px;
  background: #231E41;
  border: 1px solid #7553F0;
  border-radius: 100px;
  max-width: 172px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

